
body {
    box-sizing: border-box;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
}

h1 {
    background-color: #66e4be;
    padding: 20px;
    margin: 20px 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

li {
    width: 350px;
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 30px;
}

a:link {
    color: #ff8aec;
}

a:visited {
    color: #ff34aa;
}


